/* Definindo o fundo do site */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

/* Esconde as seções que não são ativas */
.section {
    display: none;
}

/* Exibe a seção ativa */
.section.active {
    display: block;
}

/* Navbar */
.navbar {
    padding: 1rem 2rem;
    background-color: #007bff; /* Azul forte para a navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
}

/* Links na navbar */
.navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
    margin-right: 20px;
}

/* Navbar - Botão de Menu */
.navbar-toggler {
    border: 20px;
    background-color: transparent;
}

.navbar-toggler-icon {
    background-color: white;
    width: 25px;
    height: 25px;
}

/* Estilo dos cards de receitas */
.card {
    border: none;
    border-radius: 12px; /* Bordas arredondadas nos cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}