<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Fluid de 2 Colunas</title>
    <link rel="stylesheet" href="style2colunas.css" />
  </head>
  <body>
    <div class="container">
      <div class="coluna esquerda">
        <p>Lorem ipsum dolor sit amet. Cum ipsam dolores eos corporis soluta aut vitae consequatur qui ipsum nihil. Sit eaque illum sed eligendi velit aut rerum quos. Hic dolores ducimus et consectetur ducimus non internos magnam ut odit saepe et reprehenderit praesentium.

Et inventore nihil ut distinctio minima et minima veniam et aliquid quos At nihil maiores et voluptatem magnam. Non sunt fugit eum voluptas excepturi id sint debitis.

Est asperiores dolores aut consequuntur nisi ea quidem aperiam est quia nesciunt ut vitae tempore. Ea ipsum debitis qui saepe autem et quasi internos et totam voluptatibus sit ipsam voluptatem est nihil soluta qui illum quam.</p>
      </div>
      <div class="coluna direita">
        <p>Non quas possimus est quaerat harum At porro aliquam. Qui rerum iure et corporis eaque aut soluta excepturi aut dicta quia aut consequatur dolores ut Quis obcaecati est ipsam fuga. Rem beatae debitis ea quibusdam totam sed sequi cumque a dicta obcaecati ab sunt odio rem excepturi vero ex nihil recusandae.

Aut ipsam natus ad nobis rerum sed soluta nemo in modi quae. Et reprehenderit assumenda sed autem aspernatur eos ipsum natus ut totam accusantium ut molestiae galisum et optio eaque ab consequatur excepturi?

Ut rerum quos est modi repellendus quo sunt laboriosam 33 libero placeat. Quo fugit ipsa et suscipit itaque ad amet eius. Nam dignissimos nisi aut officiis voluptas est quia eligendi non consequatur nulla qui sint natus vel perspiciatis minus aut enim molestiae? At maiores reiciendis sed autem inventore aut consequatur dolor ut dolor distinctio rem autem molestiae.</p>
      </div>
    </div>
  </body>
</html>
